@charset "UTF-8";
/* CSS para impressora */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
    /* Faz com que o menu não apareça no modo imprimir */
}

article {
    width: 90vw;
}

article::after {
    font-size: 1em;
    content: "Esse artigo foi impresso!";
    /* Faz com que apareça uma frase após o elemento article, somente no momento de impressão. */
}